@tailwind base;
@tailwind components;
@tailwind utilities;

body{   
  background: #FDF0E9;
   }
::-webkit-scrollbar{
  width: 0;
  height: 0;
}
#tr{

  transition-property: opacity;
  transition-timing-function: ease-in-out;
    transition-duration: 300ms;
}
#Service{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
#g{
  display: flex;
}
#gid{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width:678px) {
  #Service{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr))
}
}
@media screen and (max-width:338px) {
  #projectcontainer{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 10px;
}
#project{
  padding-left: 0px;
  
}
}


@media screen and (max-width:380px){

  #g{
    display: grid;

 
  }
  #text{
    padding-left:0px;padding-top: 10px;
    /* 
    word-break: break-all;
    word-wrap: break-word; */
  }
}


@media screen and (max-width: 378px){
  #Email{
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 365px){
  #icon{
    font-size: 20px;
  }
  #iconwords{
    font-size: 10px;
  }
}